$mainColor: #525B5E;
$linkColor: #E1AD01;
$bgColor: #E6EBEE;
$white: #fff;

$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-logo {
  width: 250px;
  height: auto;
  justify-content: left;
}

.App-header {
  background-color: $bgColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: $linkColor;
}

.svg-inline--fa {
  color: $mainColor;
}

h1 {
  text-align: center;
  color: $mainColor;
  margin: 2rem 0 2rem 0;
  font-size: 2rem;
  font-weight: 700;
}

.number-circle {
  font-weight: 900;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1px;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  background: $mainColor;
  color: $white;
  text-align: center;
}

// cards

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  &__item {
    display: flex;
    padding: 1rem;
    @media(min-width: 40rem) {
      width: 50%;
    }
    @media(min-width: 56rem) {
      width: 33.3333%;
    }
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &:hover {
    .card__image {
      filter: contrast(100%);
    }
  }

  &__image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    filter: contrast(70%);
    overflow: hidden;
    position: relative;
    transition: filter 0.5s cubic-bezier(.43, .41, .22, .91);;

    &::before {
      content: "";
      display: block;
      padding-top: 56.25%; // 16:9 aspect ratio
    }

    @media(min-width: 40rem) {
      &::before {
        padding-top: 66.6%; // 3:2 aspect ratio
      }
    }

    &--upload {
      background-image: url(./images/brett-jordan-gOhIsOBCKK0-unsplash.jpg);
    }

    &--register {
      background-image: url(./images/photo-1528569937393-ee892b976859.jpeg);
    }

    &--pricing {
      background-image: url(./images/chris-curry-2ckoyzBhv00-unsplash.jpg);
    }
  }

  &__content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem;
  }

  &__title {
    color: $mainColor;
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
  }

  &__text {
    flex: 1 1 auto;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
  }

  @media (max-width: $screen-sm) {
    margin-bottom: 1rem;
  }

}

// nav

.navbar {
  width: 100vw;
}

a.nav-link {
  font-size: 1.25rem;
  font-weight: 700;
  color: $mainColor;

  &:hover {
    color: $linkColor;
  }
}

// search

.search {
  background: $bgColor;
  padding: 2rem;
  margin: 5rem 0 5rem 0;
}

// block

.blocks {
  display: flex;
  justify-content: space-around;
  margin: 5rem 0 5rem 0;
  @media (max-width: $screen-sm) {
    flex-direction: column;
    padding: 1rem;
  }
}

.block {
  display: inline-flex;
  align-items: center;

  &--text {
    margin: 0;
    padding: 0 0.5rem 0 0.5rem;
  }

  @media (max-width: $screen-sm) {
    justify-content: center;
    padding-bottom: 2rem;
  }
}

// search form

.search {
  select {
    margin-left: 0.5rem;
  }

  .btn {
    display: flex;
    margin-left: auto;
  }

  .form-group {
    width: 100vw;
  }

  .col-md-4 {
    padding-left: 0;
  }
}

.btn-secondary:hover {
  &:hover {
    background-color: $linkColor;
    color: $mainColor;
    border: 1px solid $linkColor;
  }
}