@font-face {
  font-family: 'Noto Sans';
  src: local('Noto Sans'), url(./fonts/Noto_Sans/NotoSans-Regular.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: Noto Sans, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
